<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Welcome to Bag Store</title>

<!-- CSS (load bootstrap) -->
     <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
#header {
    background-color:white;
    color:green;
    text-align:center;
    padding:5px;
}

    body    { padding-top:50px; }
</style>
<div id="header" style="top: 0;left:100;"><img src="http://static.heels.com/images/S/gbyguess.logo.jpg" style="width:300px;height:200px;"/>
<img src="http://www.fakeblack.com/wp-content/uploads/2015/07/guess_logo.png" style="position: relative; width:1000px;height:200px;"/>
</div>
