<!DOCTYPE html>
<html>
  <head>
     <% include ./head %>
    

    
  </head>
  <body>
  <header>
        <% include ./header %>
        
    </header>
    
    <main>
       
       
    </main>
    
    
    <footer>
        <% include ./footer %>
    </footer>
  
 
  </body>
</html>